/* Chat.css */
.chat-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  font-family: "Poppins", sans-serif;
}

.header {
  font-weight: bold;
  font-size: larger;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-bottom: 2rem; 
  text-align: center;
}

.header h1 {
  border: 1px solid blue;
  background-color: rgb(230, 255, 255);
  padding: 3px 35px 5px 35px;
  border-radius: 10px 10px 10px 10px;
  font-size: 2.5rem;
  color: #0b14bb;
}

.messages {
  max-height: 60vh;
  overflow-y: auto;
  border: 1px solid #15069d;
  padding: 1.5rem;
  background-color: rgb(230, 255, 255);
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.message {
  margin-bottom: 1.5rem;
  padding: 1.5rem;
  border: 1px solid #000000;
  border-radius: 0.5rem;
  background-color: hsl(188, 80%, 76%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: background-color 0.2s ease;
}

.message:hover {
  background-color: #fafbfc;
  }

.user {
  font-weight: bold;
  color: #000000;
}



.new-message-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.new-message-input {
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid #000000;
  border-radius: 0.25rem;
  flex: 1;
  outline: none;
}

.send-button {
  padding: 1rem 2rem;
  font-size: 0.875rem;
  background-color: #067eff;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  margin-left: 1rem;
  transition: background-color 0.2s ease;
}

.send-button:hover {
  background-color: #ec1212;
}
