.container {
  border: 2px solid blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 97vh;
  background-color: #b6e9f3;
  font-family: Arial, sans-serif;
}

.room {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.room label {
  font-size: 18px;
  margin-bottom: 10px;
}

.room input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.room button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.sign-out {
  position: absolute;
  top: 10px;
  right: 10px;
}

.sign-out button {
  margin: 10px;
  padding: 8px 16px ;
  font-size: 14px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Background image */
.container {
  background-image: url('./img/background.jpg'); /* Adjust the path accordingly */
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
}

/* Styles for creating a room */
.create-room {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.create-room input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.create-room button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #410fca;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Styles for deleting a room */
.delete-room {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.delete-room button {
  padding: 4px 8px;
  font-size: 14px;
  background-color: #e5150e;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
